{{> navbar player}}
<h2 align="center">{{name}}</h2>
<div class="col-lg-12">
    <h4 align="center">
        {{#each player.purse}}
            <h4> {{value}} {{designation}}</h4>
        {{/each}}
    </h4>
    <div style="float:right; width: 70%">
        <div id="challenges">
            <h4 align="center">Challenges</h4>
            <table class="table">
                <tr>
                    <th style="text-align:center">Name</th>
                    <th style="text-align:center">Description</th>
                    <th style="text-align:center">Reward</th>
                </tr>
                {{#each challenges}}
                    <tr align="Center">
                        <td>  {{name}} </td>
                        <td>  {{description}}</td>
                        <td>
                            {{#each resourceLoot}}
                                <text>1x</text>
                                <text></text>
                                <b>{{name}}</b>
                            {{/each}}
                            {{#each currencyLoot}}
                                <text>{{value}}x</text>
                                <text></text>
                                <b>{{designation}}</b>
                            {{/each}}
                        </td>
                        <td>
                            {{#unless (lookup ../player.challenges @index)}}
                                <form action="/pirates/CompleteChallenge" method="post">
                                    <input type="hidden" name="challengeId" value="{{id}}">
                                    <input type="hidden" name="playerId" value="{{../player.userId}}">
                                    <input type="submit" value="Complete">
                                </form>
                            {{else}}
                                {{#with (lookup ../player.challenges @index)}}
                                    {{#if completed}}
                                        <form>
                                            <input type="submit" value="Completed" disabled>
                                        </form>
                                    {{else}}
                                        <form action="/pirates/CompleteChallenge" method="post">
                                            <input type="hidden" name="challengeId" value="{{id}}">
                                            <input type="hidden" name="playerId" value="{{../../player.userId}}">
                                            <input type="submit" value="Complete">
                                        </form>
                                    {{/if}}
                                {{/with}}
                            {{/unless}}

                        </td>
                    </tr>
                {{/each}}
            </table>
        </div>
    </div>
    <div style="float:left; width: 20%">
        <h4 align="center">Stats</h4>
        <table class="table">
            <tr>
                {{#each player.stats}}
                    <th style="text-align:center">{{designation}}</th>
                {{/each}}
            </tr>
            <tr align="Center">
                {{#each player.stats}}
                    <td> {{value}} </td>
                {{/each}}
            </tr>
        </table>
    </div>
</div>
<div>
    <div id="challenges">
        <h4 align="center">Group Challenges</h4>
        <table class="table">
            <tr>
                <th style="text-align:center">Name</th>
                <th style="text-align:center">Description</th>
                <th style="text-align:center">Reward</th>
                <th style="text-align:center">Progress</th>
            </tr>
            {{#each groupChallenges}}
                <tr align="Center">
                    <td>  {{name}} </td>
                    <td>  {{description}}</td>
                    <td>
                        {{#each resourceLoot}}
                            <text>1x</text>
                            <text></text>
                            <b>{{name}}</b>
                        {{/each}}
                        {{#each currencyLoot}}
                            <text>{{value}}x</text>
                            <text></text>
                            <b>{{designation}}</b>
                        {{/each}}
                        {{#each achievementLoot}}
                            <text>1x</text>
                            <text></text>
                            <b>{{name}}</b>
                        {{/each}}
                    </td>
                    <td>
                        {{#each requiredAchievements}}
                            {{#if achievementDesignation}}
                                <text>{{achievementDesignation}} Achievement:</text>
                            {{else}}
                                <text> All Achievements:</text>
                            {{/if}}
                            <text></text>
                            {{#greaterThan currentValue targetValue}}
                                <b>Complete</b>
                            {{else}}
                                <b>{{currentValue}} / {{targetValue}}</b>
                            {{/greaterThan}}
                        {{/each}}
                        {{#each requiredAttributes}}
                            {{#if attributeDesignation}}
                                <text>{{attributeDesignation}} Attribute:</text>
                            {{else}}
                                <text> All Attributes:</text>
                            {{/if}}
                            <text></text>
                            {{#greaterThan currentValue targetValue}}
                                <b>Complete</b>
                            {{else}}
                                <b>{{currentValue}} / {{targetValue}}</b>
                            {{/greaterThan}}
                        {{/each}}
                        {{#each requiredChallenges}}
                            {{#if challengeDesignation}}
                                <text>{{challengeDesignation}} Challenge:</text>
                            {{else}}
                                <text> All Challenges:</text>
                            {{/if}}
                            <text></text>
                            {{#greaterThan currentValue targetValue}}
                                <b>Complete</b>
                            {{else}}
                                <b>{{currentValue}} / {{targetValue}}</b>
                            {{/greaterThan}}
                        {{/each}}
                    </td>
                    <td>
                        {{#if completed}}
                            <form>
                                <input type="submit" value="Completed" disabled>
                            </form>
                        {{else}}
                            <form action="/pirates/ContributeGroupChallenge" method="post">
                                <input type="hidden" name="groupChallengeId" value="{{id}}">
                                <input type="hidden" name="playerId" value="{{../player.userId}}">
                                <input type="submit" value="Contribute">
                            </form>
                        {{/if}}
            </td>
                </tr>
            {{/each}}
        </table>
    </div>
</div>