{{> navbar this}}
<div class="container">
    <div class="col-lg-12">
        <h1 align="center">{{avatarName}}'s Profile</h1>
        <div style="float:left; width: 30%">
            <h3 align="center"> Achievements </h3>
            <table class="table table-striped">
                <tbody>
                {{#if achievements }}
                    {{#each achievements}}
                        <tr>
                            <td align="center">{{name}}</td>
                            <td align="center">{{description}}</td>
                        </tr>
                    {{/each}}
                {{else}}
                    <h5 align="center"> No achievements yet. </h5>
                {{/if}}
                </tbody>
            </table>
        </div>
        <div style="float:right; width: 30%">
            <h3 align="center">Stats</h3>
            <table class="table table-striped">
                <tr>
                    {{#each stats}}
                        <th style="text-align:center">{{designation}}</th>
                    {{/each}}
                </tr>
                <tr align="Center">
                    {{#each stats}}
                        <td> {{value}} </td>
                    {{/each}}
                </tr>
            </table>
        </div>
        <div style="float:left; width: 100%">
            <h3 align="center"> Completed Challenges </h3>
            {{#if challenges}}
                <table class="table table-striped">
                    <tr>
                        <th style="text-align:center">Name</th>
                        <th style="text-align:center">Description</th>
                        <th style="text-align:center">Reward received</th>
                    </tr>
                {{#each challenges}}
                    {{#if completed}}
                        <tr align="Center">
                            <td>  {{name}} </td>
                            <td>  {{description}}</td>
                            <td>
                                {{#each resourceLoot}}
                                    <text>1x</text>
                                    <text></text>
                                    <b>{{name}}</b>
                                {{/each}}
                                {{#each currencyLoot}}
                                    <text>{{value}}x</text>
                                    <text></text>
                                    <b>{{designation}}</b>
                                {{/each}}
                            </td>
                        </tr>
                    {{/if}}
                {{/each}}
                </table>
            {{else}}
                <h5 align="center"> No completed challenges yet. </h5>
            {{/if}}
        </div>
        <div style="float:right; width: 50%">
            <div id="inventory">
                <h3 align="center">Inventory</h3>
                <table class="table table-striped">
                    <tr>
                        <th style="text-align:center">Name</th>
                        <th style="text-align:center">Stats</th>
                        <th style="text-align:center"></th>
                    </tr>
                    {{#each inventory}}
                        <tr align="Center">
                            <td>  {{name}} </td>
                            <td>
                                {{#each modifiers}}
                                    <text>+</text>
                                    {{value}}
                                    <text></text>
                                    {{designation}}
                                {{/each}}
                            </td>
                            {{#if equipped}}
                                <td>
                                    <form action="/pirates/UnequipResource" method="post">
                                        <input type="hidden" name="resourceId" value="{{id}}">
                                        <input type="hidden" name="playerId" value="{{../userId}}">
                                        <input type="submit" value="Unequip">
                                    </form>
                                </td>
                            {{else}}
                                <td>
                                    <form action="/pirates/EquipResource" method="post">
                                        <input type="hidden" name="resourceId" value="{{id}}">
                                        <input type="hidden" name="playerId" value="{{../userId}}">
                                        <input type="submit" value="Equip">
                                    </form>
                                </td>
                            {{/if}}
                        </tr>
                    {{/each}}
                </table>
            </div>
        </div>
    </div>
</div>