{{> navbar Resources.player}}
<h2 align="center">Store</h2>

<div style="width:900px; margin:0 auto;">
    {{#each Resources.player.purse}}
        <p> {{value}} {{designation}}</p>
    {{/each}}


    <table class="table">
        <tr>
            <th style="text-align:center">Name</th>
            <th style="text-align:center">Stats</th>
            <th style="text-align:center">Cost</th>
            <th></th>
        </tr>

        {{#each Resources}}
            <tr align="Center">
                <td>  {{name}} </td>
                <td>
                    {{#each modifiers}}
                        <text>+</text>
                        {{value}}
                        <text></text>
                        <b>{{designation}}</b>
                    {{/each}}
                </td>
                <td>
                    {{#each prices}}
                        <text></text>
                        {{value}}
                        <text></text>
                        <b>{{designation}}</b>
                    {{/each}}
                </td>
                <td>
                    {{#each prices}}
                        {{#greaterThan ../prices.length 1}}
                            <div  style="float:left;">
                        {{else}}
                            <div  style="float:none;">
                        {{/greaterThan}}
                                <form action="store/PurchaseResource" method="post">
                                    <input type="hidden" name="resourceId" value="{{../id}}">
                                    <input type="hidden" name="playerId" value="{{../../Resources.player.userId}}">
                                    <input type="hidden" name="currencyId" value="{{id}}">
                                    <input type="submit" value="Purchase with {{designation}}">
                                </form>
                            </div>
                    {{/each}}

                </td>
            </tr>

        {{/each}}
    </table>
</div>